.main-box, h2, h3, h5{
    background-color: white;
    border-radius: 20px;
    margin: 4%;

}

h1{
    display: flex;
    justify-content: center;
}

.img{
    width: 35%;
    position: absolute;
    right: 4%;
    
}
